<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="DemoBlazeTest">
    <classes>
      <class name="testCase.signupTest"/>
      <class name="testCase.loginTest"/>
      <class name="testCase.homepageTest"/>
      <class name="testCase.productdetailTest"/>
      <class name="testCase.cartTest"/>
      <class name="testCase.paymentTest"/>
    </classes>
  </test> <!-- DemoBlazeTest -->
</suite> <!-- Suite -->
